<%= form_for(@book) do |f| %>
  <div class="field">
    <%= f.label :book, :isbn %><br />
    <%= f.text_field :book, :isbn, size: 25 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<end>
