<% msg = 'RailsはRubyベースのフレームワークです。Railsに影響を受けたフレームワークには、Catalystやsymfonyなどがあります。' %>

<%= hightlight(msg, 'Rails') %>
<%= hightlight(msg, ['Rails','フレームワーク'], hightlighter: '<a href="search?keyword=¥1">¥1</a>') %>
